@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    height: 100vh;
    font-weight: 400;
    background: linear-gradient(#2b1055, #7587de);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

a {
    text-decoration: none;
    color: #fff;
}


header .logo {
    color: #fff;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
    color: #fff;
    padding: 6px 15px;
}

header a {
    color: #fff;
}

header a:hover,
.ativo {
    color: #000;
}

header ul li:hover,
#btn {
    background-color: #fff;
    color: #fff;
    transition: 0.2s linear;
    border-radius: 20px;
}

/* Section */

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}

#moon {
    mix-blend-mode: screen;
}

#montains_front {
    z-index: 10;
}

#text {
    position: absolute;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    right: -200px;
}

#btn {
    padding: 8px 30px;
    z-index: 9;
    color: #2b1055;
    font-size: 1.5em;
    border-radius: 40px;
    transform: translateY(100px);
}
/* Seção de texto */
.section-text {
    z-index: 100000;
    display: flex;
    padding: 100px;
    background-color: #000;
    color: #fff;
    padding: 140px;
}

.section-text h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.text-scroll p{
    font-size: 14px;
    padding: 20px 100px 20px 0px;
}

.text-scroll h2 {
    font-size: 40px;
}